@font-face {
  font-family: Nokia;
  src: url("./fonts/nokiafc22.ttf");
}

@font-face {
  font-family: Pixelade;
  src: url("./fonts/PIXELADE.TTF");
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

body {
  width: 288px;
  height: 511px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 147%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .container {
    max-width: 728px;
    margin: 0 auto;
  }
}

section {
  width: 100%;
  height: 100%;
}

.splash-section {
  background-image: url("./sprites/background-day-start.png");
  background-repeat: no-repeat;
}

.start-button {
  margin-bottom: 30px;
  justify-self: center;
}

button {
  border-radius: 5px;
  background: linear-gradient(to bottom right, #ff9900 39%, #800000 100%);
  border: 1px solid black;
  padding: 4px;
}

.game-section {
  background-image: url("./sprites/background-day.png");
  background-repeat: no-repeat;
}

#timer {
  font-family: Nokia;
  position: absolute;
  margin-top: 10px;
  margin-left: 10px;
}

.instructions {
  position: fixed;
  bottom: 105px;
  /* align-self: flex-end; */
  font-size: 16px;
}

h4 {
  margin: 0;
  font-family: Nokia;
  text-decoration: underline;
}

.instruction-list {
  font-family: Pixelade;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
