@font-face {
  font-family: Nokia;
  src: url("./fonts/nokiafc22.ttf");
}

@font-face {
  font-family: Pixelade;
  src: url("./fonts/PIXELADE.TTF");
}

@font-face {
  font-family: Chaos;
  src: url("./fonts/Pixel\ Chaos.ttf");
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

body {
  width: 288px;
  height: 511px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 147%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .container {
    max-width: 728px;
    margin: 0 auto;
  }
}

section {
  width: 100%;
  height: 100%;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
}

.splash-section {
  background-image: url("./sprites/background-day-start.png");
  background-repeat: no-repeat;
}

.start-button {
  justify-self: center;
}

button {
  border-radius: 5px;
  background: linear-gradient(to bottom right, #ff9900 39%, #800000 100%);
  border: 1px solid black;
  padding: 4px;
}

#day-background {
  opacity: 1;
  position: absolute;
  z-index: -1;
}

#night-background {
  position: absolute;
  z-index: -1;
}

.night-game-section {
  background-image: url("./sprites/background-night.png");
  background-repeat: no-repeat;
}

.game-over-section {
  background-image: url("./sprites//background-night-end.png");
  background-repeat: no-repeat;
}

#player-dead-name {
  color: #212121;
  font-family: Nokia;
  font-size: 16px;
  margin-top: 110px;
  justify-self: center;
}

#timer {
  font-family: Nokia;
  position: absolute;
  margin-top: 10px;
  margin-left: 10px;
}

.instructions {
  position: fixed;
  bottom: 105px;
  font-size: 16px;
}

h4 {
  margin: 0;
  font-family: Nokia;
  text-decoration: underline;
}

.instruction-list {
  font-family: Pixelade;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#pause-text {
  position: fixed;
  top: 220px;
  left: 70px;
}

.pause-text p {
  font-family: Pixelade;
}

#pause-title {
  font-family: Nokia;
}

.hide {
  display: none;
}

#name-button {
  padding: 7px;
}

#leader-boards-text {
  text-align: center;
  font-family: Pixelade;
  font-size: 20px;
}

.commands {
  font-family: Pixelade;
  font-size: 18px;
  line-height: 0.5;
}

#name-text {
  height: 30px;
}

.title {
  margin-top: 45px;
  font-family: Nokia;
  justify-self: center;
  font-size: 40px;
}

.score-text {
  font-family: Pixelade;
  font-size: 28px;
  margin-top: 0;
}

#shop-section {
  justify-content: space-between;
  background-image: url("./sprites/background-day.png");
}

.group {
  margin: 15px 0;
}

.price-text,
.price-word {
  display: inline;
  font-family: Pixelade;
  font-size: 20px;
  margin: 10px 0;
}

.price-word {
  display: inline;
}

.row-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#soundButton {
  position: fixed;
  left: 240px;
}
