@font-face {
  font-family: Nokia;
  src: url("./fonts/nokiafc22.ttf");
}

@font-face {
  font-family: Pixelade;
  src: url("./fonts/PIXELADE.TTF");
}

@font-face {
  font-family: Chaos;
  src: url("./fonts/Pixel\ Chaos.ttf");
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 147%;
  margin: 0 auto;
}

@media (min-width: 961px) {
  html {
    height: 512px;
    width: 288px;
  }
  #night-background {
    z-index: -1;
    object-fit: cover;
  }
  #day-background {
    opacity: 1;
    z-index: -1;
    object-fit: cover;
  }

  body {
    height: 512px;
    width: 288px;
    margin-left: 175%;
  }

  canvas {
    height: 100%;
    width: 100%;
    z-index: 1;
  }

  .game-section {
    position: relative;
  }
}

p {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .container {
    max-width: 728px;
    margin: 0 auto;
  }
}

section {
  width: 100%;
  height: 100%;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
}

.splash-section {
  background-image: url("./sprites/background-day-start.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.splash-section article {
  margin-bottom: 20px;
  line-height: 1;
}

.start-button {
  justify-self: center;
}

button {
  border-radius: 5px;
  background: linear-gradient(to bottom right, #ff9900 39%, #800000 100%);
  border: 1px solid black;
  padding: 4px;
}

#day-background {
  opacity: 1;
  position: absolute;
  z-index: -2;
  width: 100%;
}

#night-background {
  position: absolute;
  z-index: -2;
  width: 100%;
}

.night-game-section {
  background-image: url("./sprites/background-night.png");
  background-repeat: no-repeat;
}

.game-over-section {
  background-image: url("./sprites//background-night-end.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

#player-dead-name {
  position: absolute;
  bottom: 30%;
  color: #212121;
  font-family: Nokia;
  font-size: 16px;
}

#timer {
  font-family: Nokia;
  position: absolute;
  top: 10px;
  left: 10px;
}

h4 {
  margin: 0 0 20px;
  font-family: Nokia;
  text-decoration: underline;
}

.instruction-list {
  font-family: Pixelade;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.splash-section .leader-boards {
  margin: 0;
}

#pause-text {
  position: absolute;
  top: 50%;
  left: 30%;
}

.pause-text p {
  font-family: Pixelade;
}

.pause-title {
  font-family: Nokia;
}

.hide {
  display: none;
}

#name-button {
  padding: 7px;
}

#leader-boards-text {
  text-align: center;
  font-family: Pixelade;
  font-size: 20px;
}

.commands {
  font-family: Pixelade;
  font-size: 18px;
}

#name-text {
  height: 30px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border: 2px dotted #353934;
  background-color: rgb(152, 217, 233);
}

#name-text:focus {
  border: 3px solid rgb(37, 36, 36);
}

::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder {
  text-align: center;
}

::-moz-placeholder {
  text-align: center;
}

:-ms-input-placeholder {
  text-align: center;
}

.title {
  margin-top: 45px;
  font-family: Nokia;
  justify-self: center;
  font-size: 40px;
}

.score-text {
  font-family: Pixelade;
  font-size: 28px;
  margin-top: 0;
}

#shop-section {
  justify-content: space-between;
  background-image: url("./sprites/shop-background.png");
  background-size: cover;
}

.shop {
  overflow: scroll;
  list-style-type: none;
}

.container-shop {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.group {
  margin: 80px 0;
}

.price-text,
.price-word {
  display: inline;
  font-family: Pixelade;
  font-size: 20px;
  margin: 10px 0;
}

.price-word {
  display: inline;
}

.row-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#sound-button {
  position: absolute;
  right: 10px;
  top: 10px;
}

#pause-button {
  position: absolute;
  right: 50px;
  top: 10px;
}

#click-to-start {
  position: absolute;
  top: 50%;
  left: 5%;
  width: 90%;
  text-align: center;
}

.back-menu {
  position: absolute;
  bottom: 5px;
}

.container-row {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 10%;
  padding-bottom: 10%;
}

.clouds {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
}

@-webkit-keyframes animateCloud {
  0% {
    margin-left: 100%;
  }
  100% {
    margin-left: -120%;
  }
}

@-moz-keyframes animateCloud {
  0% {
    margin-left: 100%;
  }
  100% {
    margin-left: -120%;
  }
}

@keyframes animateCloud {
  0% {
    margin-left: 100%;
  }
  100% {
    margin-left: -120%;
  }
}

.x2 {
  -webkit-animation: animateCloud 13s linear infinite;
  -moz-animation: animateCloud 13s linear infinite;
  animation: animateCloud 13s linear infinite;

  -webkit-transform: scale(0.3);
  -moz-transform: scale(0.3);
  transform: scale(0.3);
}

.x3 {
  padding-top: 20px;
  -webkit-animation: animateCloud 18s linear infinite;
  -moz-animation: animateCloud 18s linear infinite;
  animation: animateCloud 18s linear infinite;

  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  transform: scale(0.5);
}

.cloud {
  background: #fff;
  background: -moz-linear-gradient(top, #fff 5%, #f1f1f1 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #fff), color-stop(100%, #f1f1f1));
  background: -webkit-linear-gradient(top, #fff 5%, #f1f1f1 100%);
  background: -o-linear-gradient(top, #fff 5%, #f1f1f1 100%);
  background: -ms-linear-gradient(top, #fff 5%, #f1f1f1 100%);
  background: linear-gradient(top, #fff 5%, #f1f1f1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#f1f1f1',GradientType=0 );

  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;

  -webkit-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);

  height: 120px;
  position: relative;
  width: 350px;
}

.cloud:after,
.cloud:before {
  background: #fff;
  content: "";
  position: absolute;
  z-index: -1;
}

.cloud:after {
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;

  height: 100px;
  left: 50px;
  top: -50px;
  width: 100px;
}

.cloud:before {
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  border-radius: 200px;

  width: 180px;
  height: 180px;
  right: 50px;
  top: -90px;
}
